/* Index Page CSS
------------------------------------------------------------------------------*/
.content {
    background-image: url('../images/stethoscope-large.jpg');
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    top:0;
}
.moto {
    color: #ededed;
    font-size: 3.5em;
    position: relative;
    text-align: center;
    max-width: 8em;
}
.sub-moto {
    font-size: 0.35em;
    margin-top: 1em;
}
@media only screen and (max-width: 500px) {
    .moto {
        font-size: 2.5em;
    }
}
.login {
    width: 320px;
}
header .right {
    marign-right: 1em;
    padding: 1em;
}

#city-clinic .photo {
    background-image: url("../images/city-clinic.jpg");
}
.clinic .photo {
    display: block;
    opacity: 0.85;
    border-radius: 100%;
    height: 12em;
    width: 12em;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}
.clinic {
    text-align: right;
}