/* Index Page CSS
------------------------------------------------------------------------------*/
.content {
    background-image: url('/erpis/static/images/stethoscope-large.jpg');
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    top:0;
}
.moto {
    color: #ededed;
    font-size: 3.5em;
    position: relative;
    text-align: center;
    max-width: 8em;
}
.sub-moto {
    font-size: 0.35em;
    margin-top: 1em;
}
@media only screen and (max-width: 500px) {
    .moto {
        font-size: 2.5em;
    }
}
.login {
    width: 320px;
}
