/* Generic
------------------------------------------------------------------------------*/
* {
    font-size: 100%;
    font-family: verdana;
}
.left {
    float: left;
}
.right {
    float: right;
}
.bg-highlight {
    background-color: rgba(52, 59, 117, 0.8);
    box-shadow: black 0px 1px 2px;
}
body {
    background-color: #8B8B8B;
}
.row {
    margin: 2em auto 0 auto;
}
.overlay {
    background-color: rgba(0,0,0,0.35);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.dump {
    background-color: #EAF1FF;
    display: block;
    height: 100%;
    margin-left: 13em;
    overflow: scroll;
    width: auto;
}
a {
    text-decoration: none;
    outline: none;
    color: white;
    cursor: pointer;
}



/* Header
------------------------------------------------------------------------------*/
header {
    color: white;
    height: 3.5em;
    width: 100%;
    display: inline-block;
}

/* Content
------------------------------------------------------------------------------*/
.content {
    background-size: 100% 100%;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 3.5em;
}

/* Logo
------------------------------------------------------------------------------*/
.logo {
    margin-left: 1em;
    margin-top: 0.5em;
}
.logo label {
    bottom: 0.6em;
    font-size: 1.3em;
    left: 0.2em;
    position: relative;
    text-shadow: 1px 1px #444;
}

/* Icons
------------------------------------------------------------------------------*/
.icon {
    background-size: 2.5em;
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
}
.icon.heart {
    background-image: url('/erpis/static/images/heart.png');
}

/* Menu
------------------------------------------------------------------------------*/
.menu {
    background-color: #373757;
    padding: 0.5em 0;
    box-sizing: border-box;
    float: left;
    width: 13em;
    height: 100%;
}
.menu ul {
    list-style-type: none;
    color: white;
    padding: 0;
}
.menu ul li {
    transition: all 0.3s ease 0s;
    box-sizing: border-box;
    border-bottom: 1px solid #6B6B6B;
    color: white;
}
.menu ul a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
    padding: 9px;
    box-sizing: border-box;
}
.menu ul li:hover, 
.menu ul li.active {
    background-color: rgb(126, 126, 156);
}

/* Form
------------------------------------------------------------------------------*/
.form {
    padding: 1em;
}
.form input {
    box-sizing: border-box;
    width: 100%;
}
.form input[type="text"],
.form input[type="number"],
.form input[type="password"],
.form select{
    border: 1px solid #DDD;
    background-color: #EFEFEF;
    margin-bottom: 1.5em;
    padding: 0.7em 1em;
    width: 100%;
}
.form input[type="button"] {
    transition: .5s;
    background-color: #207D20;
    color: #FFF;
    border: medium none;
    padding: 9px;
}
.form input[type="button"]:hover {
    background-color: #399639;
}
.form input[type="button"].disabled {
    background-color: grey;
    cursor: default;
}
.form input[type="button"].disabled:hover {
    background-color: grey;
}
.error {
    display: block;
}
.form .error {
    display: none;
    color: #FF3030;
    margin-bottom: .5em;
    margin-top: -1em;
    text-align: center;
}

/* Popup
------------------------------------------------------------------------------*/
.popup {
    margin: 0px auto;
    top: 12%;
    position: absolute;
    display: none;
}
.popup .form {
    max-width: 500px;
    margin: 0px auto;
}
.popup .close {
    float: right;
    bottom: .6em;
    padding: 0.2em 0.5em;
    border-radius: 100%;
    position: relative;
    left: .6em;
    color: #FFF;
    border: 2px solid #FFF;
    background-color: rgba(52, 59, 86, 0.8);
    cursor: pointer;
}

/* Create
------------------------------------------------------------------------------*/
.create {
    transition: .5s;
    background-color: #FFBA19;
    border: medium none;
    color: #FFF;
    text-shadow: 1px 1px 1px #808080;
    padding: 9px;
    float: right;
    margin-top: 1.5em;
    box-shadow: 0px 1px 3px #323232;
}
.create:hover {
    background-color: #FFCA29;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.ui_tpicker_minute_label,
.ui_tpicker_minute {
    display: none;
}

/* Dump
------------------------------------------------------------------------------*/
.dump ul {
    float: left;
    list-style: outside none none;
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
}
.dump ul li {
    transition: all 0.3s ease 0s;
    box-sizing: border-box;
    color: #F5DEB3;
    margin-bottom: 1em;
    width: 100%;
}
.details {
    display: none;
    padding: 0.5em;
    border-top: 1px solid #4A4A6A;
}
.dump ul span {
    height: 2em;
    padding: .5em;
}

.details table {
    width: 100%;
    padding: 0.5em;
}
.details table tr {
    border-bottom: 1px solid #8E8E8E;
}
.details table td {
    padding: 4px;
}
.details .create {
    display: block;
    text-align: center;
    float: none;
    padding: 0.3em;
    margin-top: 0.5em;
    box-shadow: none;
    cursor: pointer;
}
.dump ul .toggle {
    padding: .5em;
    cursor: pointer;
}
.dump ul .toggle:hover {
    background-color: rgba(75, 75, 117, 0.8);
}
.dump ul .not-scheduled {
    float: right;
    font-size: .8em;
    color: white;
    border: 1px solid white;
    padding: 2px 6px;
    height: auto;
}

.accept, .reject {
    float: right;
    background-color: rgb(238, 169, 8);
    border: medium none;
    margin-left: 1em;
    color: #FFF;
    text-shadow: 0px 1px 1px gray;
    font-size: 0.9em;
}
